<launch>
  <arg name="debug" default="false"/>
  <!--<arg name="debug_valgrind" default="false"/>-->

  <arg name="prefix" value="" unless="$(arg debug)"/>
  <arg name="prefix" value="gdb -ex run --args" if="$(arg debug)"/>

  <node pkg="mpl_test_node"
    type="poly_map_planner_node"
    name="test_primitive"
    launch-prefix="$(arg prefix)"
    output="screen">
    <!-- Set start and goal -->
    <param name="goal_x" value="18.0"/>
    <param name="goal_y" value="0"/>
    <param name="start_vx" value="0.0"/>
    <param name="start_vy" value="0.0"/>
    <param name="start_x" value="3.0"/>
    <param name="start_y" value="0.0"/>
    <!-- Set dynamic constraints -->
    <param name="v_max" value="2.0"/>
    <param name="a_max" value="1.0"/>
    <param name="u" value="0.5"/>
    <param name="dt" value="1.0"/>
    <!-- Set obstacle config -->
    <param name="use_config0" value="true"/>
    <param name="use_config1" value="false"/>
  </node>

</launch>
