<launch>
  <arg name="debug" default="false"/>
  <!--<arg name="debug_valgrind" default="false"/>-->

  <arg name="prefix" value="" unless="$(arg debug)"/>
  <arg name="prefix" value="gdb -ex run --args" if="$(arg debug)"/>

  <node pkg="mpl_test_node"
    type="poly_map_replanner_node"
    name="test_primitive"
    launch-prefix="$(arg prefix)"
    clear_params="true"
    output="screen">
    <remap from="~replan" to="/replan"/>
    <param name="file" value="$(find mpl_test_node)/launch/poly_map_replanner_node/test.bag"/>
    <param name="subtree" value="true"/>
    <param name="show_animation" value="true"/>
    <!-- Set start and goal -->
    <param name="goal_x" value="38"/>
    <param name="goal_y" value="38"/>
    <param name="start_vx" value="0.0"/>
    <param name="start_vy" value="0.0"/>
    <param name="start_x" value="2"/>
    <param name="start_y" value="2"/>
    <!-- Set dynamic constraints -->
    <param name="v_max" value="2.0"/>
    <param name="a_max" value="1.0"/>
    <param name="u" value="1.0"/>
    <param name="dt" value="1.0"/>
    <!-- Set obstacle config -->
  </node>

</launch>
